<div style="background-color: #e9e9e9; height: 100vh;">

  <mat-toolbar color="primary">
    <span>PROVA 03 - LUCAS BENINI</span>
  </mat-toolbar>

  <div style="padding: 20px;">
    <mat-card style="min-height: 70vh;">
      <p style="text-align: center;">Lista de contatos</p>


      <div style="display: flex; flex-direction: row; justify-content: space-between;">
        <div style="width: 90%; display: flex; align-items: center;">

          <mat-form-field appearance='outline' class="example-full-width" style="width: 100%;">
            <mat-label>Buscar</mat-label>
            <input [(ngModel)]='search' matInput placeholder="ex: " style="width: 100%;">
          </mat-form-field>

          <button (click)='buscar()' mat-mini-fab >
            <mat-icon>search</mat-icon>
          </button>
        </div>
        <div class="example-button-container">
          <button (click)='openDialogCreate()' mat-fab color="primary"
            aria-label="Example icon button with a delete icon">
            <mat-icon>add</mat-icon>
          </button>
        </div>


      </div>
      <div *ngIf='listContatos'>
        <div *ngFor='let index of listContatos'>
          <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; ">
            <mat-form-field class="example-full-width">
              <mat-label>nome</mat-label>
              <input matInput placeholder="ex: José" [value]='index.nome'>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>email</mat-label>
              <input matInput placeholder="ex: exemplo@gmail.com" [value]='index.email'>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>contato</mat-label>
              <input matInput placeholder="ex: exemplo@gmail.com" [value]='index.contato'>
            </mat-form-field>

            <button style="margin-left: 15px;" (click)='delete(index.id)' mat-raised-button color="warn">delete</button>
            <button style="margin-left: 15px;" (click)='openDialogUpdate(index)' mat-raised-button
              color="accent">update</button>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>